/* Snow Animation */
@keyframes fall {
    0% {
        top: -10%;
    }
    100% {
        top: 100%;
    }
}

@keyframes sway {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(50px);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.snowflake {
    position: fixed;
    top: -10%;
    z-index: 9999;
    user-select: none;
    pointer-events: none;
    animation-name: fall, sway;
    animation-timing-function: linear, ease-in-out;
    animation-iteration-count: infinite, infinite;

    &.spin {
        animation-name: fall, sway, spin;
        animation-timing-function: linear, ease-in-out, linear;
    }
}
