{% if top_rated %}
  <div class="blog-sidebox sidebox">
    <h3 class="bold-text colored-text"><i class="fa fa-trophy"></i>{{ _('Top Rating') }}</h3>
    <div class="sidebox-content" style="padding: 0; border: 0">
      <table class="table feed-table">
        <tbody>
          {% for user in top_rated %}
            <tr>
              <td style="padding: 7px 2px"><b>{{loop.index}}</b></td>
              <td style="line-break: anywhere">{{link_user(user)}}</td>
              <td>{{user.rating or '_'}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endif %}

